@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

/* Aktivera daisyUI och sätt teman (cupcake ljust, dark vid prefers-dark) */
@plugin "daisyui" {
  themes: cupcake --default, dark --prefersdark;
  root: "html"; /* vi sätter data-theme på <html> */
  logs: true;
}

@layer base {
  * {
    @apply border-base-200; /* funkar nu när daisyUI är laddat via plugin */
  }
  body {
    @apply font-sans antialiased bg-base-100 text-base-content;
  }
}
